@font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    font-style: normal;
    src: url("http://mha.fi/content/roboto-mono.woff2")
}

body {
    font-size: 15px;
    font-family: Roboto Mono;
    background: #181818;
    line-height: 20px;
    letter-spacing: normal;
    color: #ffffffe1
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #aaa;
}

.anime-left,
.anime-right {
    position: fixed;
    max-width: 250px;
    width: 45%;
    bottom: 0;
    opacity: 0.25;
    z-index: -1;
}

.anime-left {
    left: 0;
}

.anime-right {
    right: 0;
}

#video {
    width: 70%;
}

@media (min-width: 1000px) {

    .anime-left,
    .anime-right {
        opacity: 0.75;
    }
}

#catvibe

<style>
.aligncenter {
    text-align: center;
}
</style>

